<div class="top-bar" id="realEstateMenu">
<div class="top-bar-left">
<ul class="menu" data-responsive-menu="accordion">
<li class="menu-text">ngWebsite</li>
<li><a routerLink="/">Home</a></li>
<li><a routerLink="/about">About</a></li>
<li><a routerLink="/services">Services</a></li>
</ul>
</div>
</div>
<div class="top-bar-right">
</div>
 
<br>
<div class="row">
    <div class="columns medium-8">
    <router-outlet></router-outlet>
    </div>
    <div class="columns medium-4">
        <sidebar></sidebar>
    </div>
<footer>
<div class="row">
    <div class="columns medium-12">
    MyWebsite &copy; 2017
    </div>
</div>
</footer>